{% extends "login/layout.html" %}

{% block body %}

<style>
    body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        background: white;
    }

    .box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    h2 {
        color: black;
        text-transform: uppercase;
        font-weight: 500;
        text-align: center;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="password"],
    select {
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid #3498db;
        padding: 14px 10px;
        width: 200px;
        outline: none;

        border-radius: 24px;
        transition: 0.25s;
    }
    select{
        height: 34px;
        border-radius: 24px;
    }
    select:focus {
        width: 300px;
        border-color: #2ecc71;
    }
    input[type="text"]:focus,
    input[type="tel"]:focus,
    input[type="password"]:focus,
    input[type="email"]:focus{
        width: 400px;
        border-color: #2ecc71;
    }

    input[type="submit"] {
        text-align: center;

    }

    input[type="submit"]:hover {
        background: #2ecc71;
    }
</style>

<div class="box">
    <h2><ion-icon name="person-add-outline"></ion-icon> Register</h2>
    {% if message %}
    <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="username" placeholder="Username" required>
        </div>
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email Address" required>
        </div>
        <div class="form-group">
            <input class="form-control" type="tel" name="tel" placeholder="Phone Number" required>
        </div>
        
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password" required>
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password" required>
        </div>
       
        <div style="margin: 50px;">
            <input class="btn btn-primary" type="submit" value="Register">
        </div>

    </form>

    Already have an account? <a href="{% url 'login' %}">Log In here.</a>

</div>

{% endblock %}